body{
    background-image: url(assets/jocelyn-morales-sUFVSodUHfo-unsplash.jpg);
    font-family:Arial, Helvetica, sans-serif
    font-size: 0.6em;
    margin: 0px 20px 10px 250px;
    
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
p.kecil{
    text-align: center;
    font-size: 20px;
    padding-left: 50px;
    line-height: 20px;
}
header{
    background-image: linear-gradient(to right, #fec8a7, #b2d2a4);
    color: azure;
    height: 50px;
    width: 100%;

}
.header-logo{
    float: left;
    font-size: 35px;
    padding: 10px 30px;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(184, 184, 184);
}
.sidebar .top{
    font-size: 22px;
    color: beige;
    text-align: center;
    line-height: 50px;
    background-image: linear-gradient(to right, #fec8a7, #b2d2a4);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(225,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 100px;
    background-image: linear-gradient(to right, #f5bc99, #d3fcc1);
    color: black;
}
.sidebar ul a i{
    margin-right: 16px;
}
.icon{
    font-size: 100px;
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 10px;
    padding-right: 20px;
}